* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#pulseaudio, #network, #backlight, #battery, #clock {
    padding: 0 10px;
	margin: 2 2px;
	border-radius: 5px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
}

#workspaces button.active {
    background: #64727D;
}

#pulseaudio {
    background-color: #3b4252;
    color: #eceff4;
}

#pulseaudio.muted {
    background-color: #4c566a;
    color: #d8dee9;
}

#pulseaudio:hover {
    background-color: #d08770;
}

#network {
    background-color: #5e81ac;
	color: #eceff4;
}

#network.disconnected {
    background-color: #bf616a;
	color: #eceff4;
}

#backlight {
    background-color: #434c5e;
	color: #eceff4;
}

#battery {
    background-color: #2e3440;
    color: #d8dee9;
}

#battery.charging {
    background-color: #a3be8c;
    color: #2e3440;
}

@keyframes blink {
    to {
        background-color: #eceff4;
        color: #2e3440;
    }
}

#battery.warning:not(.charging) {
    background: #d08770;
    color: #2e3440;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    background-color: #4c566a;
	color: #eceff4;
}

