* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces, #custom-updates, #cpu, #memory, #pulseaudio, #backlight, #battery, #custom-weather, #clock {
    padding: 0 10px;
	margin: 2 2px;
	border-radius: 5px;
}

#workspaces button {
    padding: 0 5px;
	margin: 0 2px;
	border-radius: 5px;
    background: transparent;
    color: #e0e6f0;
}

#workspaces button.active {
    background: #3b4252;
}

#custom-updates {
    background-color: #3b4252;
    color: #e0e6f0;
}

#custom-updates.updated {
    background-color: transparent;
}

#pulseaudio {
    background-color: #3b4252;
    color: #e0e6f0;
}

#pulseaudio.muted {
    background-color: #bf616a;
    color: #eceff4;
}

#cpu {
    background-color: #3b4252;
    color: #e0e6f0;
}

#memory {
    background-color: #3b4252;
    color: #e0e6f0;
}

#backlight {
    background-color: #3b4252;
	color: #e0e6f0;
}

#battery {
    background-color: #3b4252;
    color: #e0e6f0;
}

#battery.charging {
    background-color: #a3be8c;
    color: #2e3440;
}

@keyframes blink {
    to {
        background-color: #eceff4;
        color: #2e3440;
    }
}

#battery.warning:not(.charging) {
    background: #d08770;
    color: #2e3440;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-weather {
    background-color: #3b4252;
    color: #e0e6f0;
}

#clock {
    background-color: #3b4252;
	color: #e0e6f0;
}

